<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Contacts</h1>
      </ion-header-bar>
      <ion-content ng-controller="myCtrl">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="contact.name">
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Phone" ng-model="contact.phone">
          </label>
        </div>

        <button class="button button-full button-positive" ng-click="addContact(contact)">
          Add Contact
        </button>
      </ion-content>
    </ion-pane>
  </body>
</html>
